@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


.container {
    padding: 15px 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
}

.smallDeviceOnly {
    display: none;
}

#arrowBack {
    color: #ff6f00;
    width: 32px;
    height: 32px;
    background: #efefef;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: all ease 0.4s;
}

#arrowBack:hover {
    background: #e3e3e3;
}

.geoLink {
    opacity: 0.6; 
    text-decoration: none;
    color: #000;
}

.geoLink .geo-icon {
    color: #ff6f00;
    font-size: 15px;
}

.audio {
    width: 100%;
}

.btnCall {
    width: 100%;
    padding: 16px 0;
    font-size: 15px;
    background: none;
    border: 1px solid #ff6f00;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btnCall:hover {
    background: #ff6f00;
    color: #fff;
}

.textStyles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    overflow-wrap: break-word;
}

.textStyles h2 {
    font-size: 22px;
}

.textStyles p {
    line-height: 1.5;
    opacity: 0.8;
    width: 100%;
    font-size: 16px;
}

@media screen and (min-width: 620px) {
    .container {
        opacity: 0;
    }
    .smallDeviceOnly {
        text-align: center;
        display: block;
    }
}